.main__title--products {
    text-align: center;
    margin-top: 2rem;
}

.form_products {
    max-width: 500px;
    margin: 2rem auto;
}

.msg {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}