.contact__section {
    margin-bottom: 40px;
}

.contact__section--title {
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

/* MAPS */

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***** forms *****/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.forms__contact {
    width: 650px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 18px;
}

.contact__btn {
    margin-top: 10px;
}