.e-list-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e-list-products h1 {
    font-weight: 600;
    margin: 30px 0;
}

.e-list-products__content {
    width: 80%;
}

.e-list-products__img {
    width: 100px;
    height: 100px;
}

.table-th {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
}

.table-td {
    text-align: center;
}

.table-td-text {
    font-size: 16px;
    font-family: 'Inter';
    width: 500px;
}

.e-list-products__btn {
    width: 400px;
}

.e-list-products__btn form {
    display: inline-block;
}

.e-list-products__btn a {
    border: 3px solid lightblue;
    border-radius: 6px;
    background-color: lightblue;
    color: darkblue;

    padding: 6px;
}

.e-list-products__btn button {
    border: 3px solid lightcoral;
    border-radius: 6px;
    background-color: lightcoral;
    color: darkred;

    padding: 4px;
} 

.e-list-products__btn a, .e-list-products__btn button {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}