/* Header */

.container-fluid {
    padding: 0;
    margin: 0;
}

.header {
    padding: 15px 0;
}

.logo {
    width: 75px;
    margin-left: 2rem;
}

#navbar-links {
    color: #FFF;
    padding: 0 25px;
    font-weight: 600;
}

.header__login {
    font-weight: 600;
    color: #fff;
    border: 2px solid #b6350e;
    background-color: #b6350e;
    border-radius: 5px;
}

.header__register {
    font-weight: 600;
    color: #fff;
}

/* BUTTON TOGGLE */

.navbar-toggler {
    background-color: #b6350e;
    margin-right: 15px;
}