/************** HEADER *************/

.register {
    display: flex;
    flex-wrap: wrap;

    background-color: darkgrey;
}

.register a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 6px;
    font-size: 1.15rem;
}

.register a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Navbar */

.container__navbar {
    max-width: 100%;
}

.navbar-collapse {
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav a {
    font-weight: 600;
    font-size: 20px;       
    margin: 0 15px;
    color: #E0EEEE;
}
