/* Header */

.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: 20px;
}

.header__content {
    padding: 35px 0;
}

.header__nav-item {
    color: #FFF;
    padding: 0 25px;
    font-weight: 600;
    font-size: 20px;

    margin: 0 10px;
}

.navbar-brand {
    margin-left: 35px;
    color: #d44115;
}

/* login */

.header__login {
    width: 215px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.header__login a {
    font-size: 18px;
}

.header__login__btn, .header__login__close {
    font-weight: 600;
    color: #FFF;
    padding: 8px;
    border: 1px solid #b6350e;
    background-color: #b6350e;
    border-radius: 5px;
}

.header__register__btn {
    font-weight: 600;
    color: #FFF;
}

/* User */

.header__login__user {
    font-weight: 600;
    color: #FFF;
}

/* Adm */

.header__login__adm {
    font-weight: 600;
    color: #b840f0;

}

/* BUTTON TOGGLE */

.navbar-toggler {
    background-color: #b6350e;
    margin-right: 15px;
}