#divSearch {
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:450px;
    height:32px;
}
  
#txtSearch {
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:27px;
    width:191px;
}
    
#divSearch img{
    float:left;
    height: 27px;
    width: 27px;
}

.search__area {
    margin-top: 1.5%;
}

.products__search {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}


/* filtros e produtos */

.produtos__page--config {
    max-width: 100%;
}

.filter {
    display: flex;
    flex-direction: row;

}

.filter__section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
}

.filter__category {
    background-color: lightgray;
    width: 100px;
    padding: 12px;
    border: none;
    margin: 2px 0;
    font-size: 1.25rem;
}

.filter__category:hover {
    background-color: grey;
}

/* produtos */
.main__produtos--page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.75rem;
    width: 100vw;
}

.product__selection {
    width: 225px;
    height: 225px;
    margin: 5px;
}

.container__products--all {
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 17px;
}