/* FILTRO */
.product-filter li {
    list-style: none;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-filter {
    margin: 0;
    padding: 0;
}

.product-filter li {
    text-align: center;
    background-color: #88898b;

    border: 2px solid #88898b;
    border-radius: 10px;
    padding: 10px 15px;

    margin-bottom: 5px;
}

.product-filter li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;

    font-weight: 600;
}


/* PRODUTOS */
.products__section {
    margin-top: 35px;
    margin-bottom: 187px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-sm-2, .col-sm-10 {
    padding-right: 0;
    padding-left: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.individual-products {
    width: 300px;
    height: 450px;
    margin: 0 0 10px 45px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #b9b8b8;
}

.img-products {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.img-products img {
    width: 100%;
    height: 100%;
}

.individual-products h3 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
}

.individual-products p {
    font-size: 16px;
    font-family: 'Inter';
    color: #808080;
}

